contenedor{
    position: absolute;
    display: inline-block;
    text-align: center;
}

.texto-encima{
    position: absolute;
    top: 800px;
    left: 450px;
}

.texto-capacerebra1{
    position: absolute;
    top: 110px;
    left: 170px;
}

.texto-capacerebra2{
    position: absolute;
    top: 110px;
    left: 270px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;

}

.numero-pagina{
    position: absolute;
    top: 1300px;
    left: 900px;
}


.Q-pagina3{
    position: absolute;
    top: 43px;
    left: 55px;
    /* writing-mode: vertical-rl;
    text-orientation: upright; */
}

.U-pagina3{
    position: absolute;
    top: 330px;
    left: 90px;
}

.A-pagina3{
    position: absolute;
    top: 330px;
    left: 240px;
}

.D-pagina3{
    position: absolute;
    top: 43px;
    left: 180px;
}
